.title, .title_date, .title_time {
    font-family: 'Montserrat', sans-serif, -apple-system,
    'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1D201F;
    margin-bottom: 16px;
}

.title_date, .title_time {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0px;
    color: #5B5B5B;
}

.title_time {
    text-align: left;
    margin-bottom: 16px;
}