.title {
    font-family: 'Montserrat', Arial, sans-serif, -apple-system,
    'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1D201F;
    margin-bottom: 16px;
}

.avatar_and_text {
    display: flex;
    justify-content: space-between;
}