.container_info {
    width: auto;
    margin-bottom: 32px;
}

.avatar_and_text {
    display: flex;
    justify-content: space-between;
    padding: 0 29px;
}

.background_image {
    width: 144px;
    height: 144px;
    background: #ADE5F4;
    border-radius: 4px;
}

.image_profile {
    width: 100%;
    border-radius: 4px;
}

.text_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.type_text, .type_time {
    font-family: 'Montserrat Regular', Arial, sans-serif, -apple-system,
    'Montserrat Regular', Arial, sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #5B5B5B;
}

.type_text {
    margin-bottom: 8px;
}

.type_time {
    font-weight: 600;
    color: #1D201F;
}