.container_timing {
    width: auto;
}
.description_and_type_selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.type_selection {
    display: block;
}

.image_colom {
    margin-right: 8px;
}